{% extends 'main/base.html' %} 
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="row my-3">
    <div class="section-heading text-center">About Fridge2Table</div>
    <p>
        Cooking can be a hassle, especially when you don't know what to make with the ingredients you have on hand. With “Fridge2Table”, you can simply enter your ingredients and get personalized recipes that fit your preferences and dietary restrictions. No more scrolling through endless recipes that don't fit your needs. Fridge2Table makes meal planning easy and stress-free. Whether you're a busy professional, a parent, or simply looking to simplify your meal planning process, Fridge2Table is the perfect solution for you. Stop with the takeout and start enjoying delicious, home-cooked meals today with the convenience and ease of Fridge2Table. 
    </p>
    <div class="section-heading">Team Members</div>
    <p>
        => Varshani Reddy Patlolla <br>
        => Pravija Danda <br>
        => Neel Akash M S <br>
    </p>
    <div class="section-heading text-center">Design of application</div>
    <img src="{% static 'images/design.png' %}" alt="design">
</div>
{% endblock %}