{% extends 'main/base.html' %} 
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="row mt-3 mb-5">
  <div class="section-heading">What do you have in your pantry?</div>
  <form action="/home" method="post" class="my-3">
    {% csrf_token %}
    <label for="query" class="form-label">Search Ingredients</label>
    <input id="query" name="query" type="text" class="form-control">
    <input id="hiddenchosen" name="hiddenchosen" type="text" value="{{hiddenchosen}}" style="display: none;">
    <button type="submit" class="btn btn-sm btn-outline-danger mt-3">Search</button>
  </form>
  {% if ingredients|length %}
  <div class="my-1">
    <div>Pick from these ingredients</div>
    <div>
      {% for i in ingredients %}
        <div class="form-check">
          <input class="form-check-input" name="ings" type="checkbox" value="{{i.name}}" id="{{i.id}}">
          <label class="form-check-label" for="{{i.id}}">{{i.name}}</label>
        </div>
      {% endfor %}
    </div>
    <button id="add" class="btn btn-sm btn-outline-success mt-3">Add</button>
  </div>
  {% endif %}
</div>
<div class="row my-5">
  <form action="/results" method="post">
    {% csrf_token %}
    <label for="chosen" class="form-label">Chosen Ingredients</label>
    <input id="chosen" name="chosen" type="text" class="form-control"/>
    <button type="submit" class="btn btn-sm btn-outline-primary mt-3">Submit</button>
  </form>
</div>
{% endblock %}